.footer{
  margin: 100px 0 0 0;

  background: #1c1d1f;
  padding: 0 0 10px 0;
  &__body{
    ul{
      padding: 10px;

      display: flex;
      justify-content: space-between;
      li{
        color: white;
      }
    }
  }
}